html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#root {
    width: 100%;
    height: 100vh;
}

body,
.main {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #161616;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s ease;
}

header {
    width: 100%;
    display: flex;
    position: sticky;
    padding: 12px;
    border-radius: 0 0 8px 8px;
    background: #d391ff;
    justify-content: space-between;
}

.leftside {
    display: flex;
    gap: 12px;
}

.rightside-buttons {
    display: flex;
    gap: 8px;
}

.chat-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.photo,
.chat-avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    object-fit: cover;
}

.nameAndStatus {
    display: flex;
    flex-direction: column;
}

.online {
    font-size: 12px;
    margin-top: -4px;
    color: #2e2e2e;
}

.icon-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    transition: all 0.2s ease;
}

.icon-button:hover {
    filter: brightness(125%);
}

.icon-button.file {
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    color: #707070;
    z-index: 1;
    padding: 6px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-button.file:hover,
.icon-button.search:hover {
    animation: hoverAnimationFileButton 0.4s;
}

@keyframes hoverAnimationFileButton {
    0% {
        transform: rotate(0) scale(1);
    }

    50% {
        transform: rotate(25deg) scale(0.9);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}

.chat-container {
    width: 100%;
    height: calc(100% - 60px - 50px - 24px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
    gap: 16px;
}

.chats-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.chats {
    width: 100%;
    height: calc(100% - 60px - 50px - 24px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}

.chat-item {
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #262626;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #FDFDFD;
    cursor: pointer;
}

.createChatBtn {
    position: absolute;
    bottom: 32px;
    right: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #3d3d3d;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background: #1e1e1e;
    padding: 4px 8px;
    color: #707070;
    transition: all 0.2s ease;
    display: flex;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}

.createChatBtn :last-child {
    width: 1px;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.createChatBtn:hover {
    width: 120px;
    color: #FDFDFD;
}

.createChatBtn:hover :last-child {
    flex: 1;
    opacity: 1;
}

.chat-item:first-child {
    padding: 0 16px 16px 16px;
}

.chat-last-message {
    font-size: 14px;
    color: #606060;
}

.form {
    position: relative;
    width: 100%;
    display: flex;
    gap: 16px;
}

.messages {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    margin: 0;
}

.message {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (min-width: 600px) {
    .message {
        width: 50%;
    }
}

.timeAndMessageBlock {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
}

.message .message-sender {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #fff691;
    text-align: end;
}

.message .message-text {
    width: fit-content;
    padding: 8px 12px;
    border-radius: 8px;
    background: #1e1e1e;
    color: #f0f0f0;
    word-wrap: break-word;
    font-size: 14px;
}

.message .message-time {
    font-size: 12px;
    color: #585858;
}

input[type='submit'] {
    visibility: collapse;
}

input {
    flex: 1;
    position: relative;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 8px 36px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: #1e1e1e;
    color: #f0f0f0
}

input::after {
    content: '" "';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    color: #f0f0f0
}

.send-button {
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 0;
    background: transparent;
    border: none;
    outline: none;
    color: #d391ff;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.send-button:hover {
    color: #e1b3ff;
}

.send-button:active {
    color: #9b4bd0;
}

.send-button:disabled {
    color: #707070;
    cursor: auto;
}

footer {
    width: 100%;
    padding: 12px;
}

.scroll-down-button {
    position: absolute;
    bottom: calc(50px + 24px);
    right: 12px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #3d3d3d;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background: #1e1e1e;
    padding: 0;
    color: #707070;
    transition: all 0.2s ease;
}

.scroll-down-button.show {
    display: flex;
}

.scroll-down-button:hover {
    background: #232323;
}

.scroll-down-button:active {
    background: #191919;
}